<h1><%= @post.title %>'s show Page</h1>

<a href="<%= subs_url %>">Back to subs</a>
<br>

<% if current_user && current_user == @post.author %>
  <a href="<%= edit_post_url(@post) %>">Edit Post</a>
  <br>
<% end %>

<h3>By: <a href="<%= user_url(@post.author) %>"><%= @post.author.username %></a></h3>

<p><%= @post.content %></p>
<br>
<img src="<%= @post.url %>" alt="">
<br>
<p><a href="<%= @post.url %>"><%= @post.url %></a></p>
